.breadcrumbs {
	margin-bottom: 40px;
}

.breadcrumbs__list-item {
	position: relative;

	display: inline-block;
	margin-right: 16px;
	padding-right: 16px;

	font-size: 15px;
	line-height: 18px;
	color: $thin-text-color;
}

.breadcrumbs__list-item::after {
	content: '';

	position: absolute;
	right: 0;
	bottom: 4px;

	width: 6px;
	height: 9px;

	background-image: url('../images/little-right-arrow.svg');
}

.breadcrumbs__list-item:last-child::after {
	display: none;
}