.footer {
	background-color: $background-color;
}

.footer__top {
	padding-top: 43px;
}

.footer__top-inner {
	display: flex;
	justify-content: space-between;
}

.footer__top-newsletter {
	width: 295px;
	margin-right: 50px;
}

.footer__top-title {
	font-family: $font-bold;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.newsletter-form {
	display: flex;
	justify-content: space-between;
	margin-top: 34px;
}

.newsletter-form__input {
	padding: 0 12px;
	
	font-size: 14px;
	line-height: 17px;

	background-color: #fff;
	border: none;
}

.newsletter-form__input::placeholder {
	color: $thin-text-color;
}

.newsletter-form__btn {
	padding: 10px 16px;

	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;

	background-color: $accent-color;
	border: none;
}

.footer-list {
	font-size: 14px;
	line-height: 28px;
}

.footer-top__item {
	width: 200px;
}

.footer__top-social {
	width: 250px;
}

.social-list {
	display: flex;
	align-items: center;
	height: 100%;
}

.social-list__item + .social-list__item {
	margin-left: 30px;
}

.footer__bottom {
	padding: 46px 0 22px;
	display: flex;
	justify-content: center;
}

.footer__bottom-link {
	margin: 0 40px;

	font-size: 10px;
	line-height: 12px;
}

.footer-top-drop {
	pointer-events: none;
}