.pagination {
	width: 100%;
	margin-top: 70px;
}

.pagination__list {
	display: flex;
	justify-content: center;
}

.pagination__item {
	margin: 0 4px;
	padding: 6px 12px;

	font-size: 18px;
	line-height: 22px;
	color: $thin-text-color;

	border: 2px solid transparent;
}

.pagination__item.active {
	color: $accent-color;

	border: 2px solid $accent-color;
}

.pagination__link {
	display: block;
}