.product__title {
	margin-bottom: 25px;

	font-family: $font-barlow;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

.tabs-wrapper {
	margin-bottom: 35px;
}

.popular-products__tabs {
	margin-bottom: 25px;
}

.popular-products__tab {
	padding-bottom: 10px;
}

.popular-products__tab + .popular-products__tab {
	margin-left: 50px;
}

.popular-products__tab.tab--active {
	border-bottom: 2px solid $accent-color;
}

.popular-products__tab-container {
	margin-bottom: 35px;
}

.product-item {
	display: block;

	padding: 50px 20px 31px;
	min-height: 400px;

	text-align: center;

	border: 1px solid #cdcdcd;
	border-radius: 3px;

	transition: all 0.3s;
}

.product-item:hover {
	color: $accent-color;

	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-item__img {
	max-width: 100%;
}

.product-item:hover .product-item__notify-text {
	color: $text-color;
}

.product-item__notify-link {
	display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
	display: block;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;

	font-size: 16px;
	line-height: 19px;
	color: $accent-color;
	text-align: center;
}

.product-item__wrapper.product-item__not-available
	.product-item__notify-link
	span {
	border-bottom: 1px solid #1c62cd;
}

.product-item--sale::before {
	content: "SALE";

	position: absolute;
	top: 0;
	left: 0;

	padding: 8px 15px;

	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;

	color: #ffffff;

	background-color: $accent-color;
}

.product-item__wrapper {
	position: relative;

	width: 271px;

	transition: all 0.3s;
}

.product-item__wrapper.product-item__wrapper--list {
	width: 100%;
}

.product-item__wrapper.product-item__not-available .product-item__price {
	display: none;
}

.product-item__notify-text {
	display: none;

	font-family: $font-bold;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	font-weight: 700;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
	display: block;
}

.product-item__favorite {
	position: absolute;
	top: 16px;
	right: 19px;
	z-index: 5;

	width: 24px;
	height: 22px;

	background-color: transparent;
	border: none;
	outline: none;
}

.product-item__favorite::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 24px;
	height: 22px;

	background-image: url("../images/favorites.svg");
}

.product-item__favorite--active::before {
	background-image: url("../images/favorites-choise.svg");
}

.product-item__basket {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;

	padding-top: 7px;

	width: 60px;
	height: 40px;

	background-color: $accent-color;
	border: none;
	border-radius: 10px 0px 0px 0px;

	cursor: pointer;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
	display: none;
}

.product-item__hover-text {
	position: absolute;
	top: 30%;

	display: inline-block;
	padding: 18px 21px;

	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	opacity: 0;

	transition: all 0.3s;
}

.product-item:hover .product-item__hover-text {
	color: $text-color;

	opacity: 1;
}

.product-item__title {
	padding: 14px 0 25px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
}

.product-item__wrapper.product-item__not-available .product-item__title {
	padding-bottom: 13px;
}

.product-item__price {
	font-family: $font-barlow;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.popular__products__more {
	text-align: center;
}

.popular-products__more-link {
	padding: 17px 43px;

	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	text-transform: uppercase;

	background-color: $background-color;
}
