.slick-dots {
	position: absolute;
	bottom: 18px;
	left: 0;
	right: 0;

	text-align: center;
}

.slick-dots li {
	display: inline-block;
	padding: 0 5px;
}

.slick-dots button {
	margin: 0;
	padding: 0;
	height: 11px;
	width: 11px;

	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 50%;

	font-size: 0;
}

.slick-slider img {
	display: inline;
}

.top-slider {
	max-width: 870px;
}

.top-slider__img {
	min-height: 400px;
	
	object-fit: cover;
}

.top-slider__btn,
.product-slider__btn {
	position: absolute;
	top: 50%;
	z-index: 5;

	margin: 0;
	padding: 0;

	background-color: transparent;
	border: none;

	transform: translateY(-50%);

	cursor: pointer;
	outline: none;
}

.top-slider__btn-prev {
	left: 20px;
}

.top-slider__btn-next {
	right: 20px;
}

.product-slider__btn-prev {
	left: -40px;
}

.product-slider__btn-next {
	right: -40px;
}

.top-slider .slick-dots .slick-active button {
	background-color: #ffffff;
}

.product-slider .slick-dots{
	bottom: -40px;
}

.product-slider .slick-dots button {
	background-color: $background-color;
}

.product-slider .slick-dots .slick-active button {
	background-color: $accent-color;
}