.tabs-title {
	margin-bottom: 25px;
}

.tabs-title__item {
	padding: 11px 26px 12px;
}

.tabs-title__item.tab--active {
	font-family: $font-bold;
	font-weight: 700;

	background-color: $background-color;
	border-radius: 5px;
}

.tab-content {
	display: none;
}

.tab-content.tab-content--active {
	display: block;
}

.tabs-content__form {
	display: flex;
}

.tabs-content__input {
	width: 100%;
	padding: 5px 20px;

	font-size: 16px;
	line-height: 19px;

	background-color: $background-color;
	border: none;
	border-radius: 3px;
}

.tabs-content__input::placeholder {
	color: #656464;
}

.tabs-content__btn {
	padding: 17px 40px;

	font-family: $font-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #ffffff;

	background-color: $accent-color;
	border: none;
	border-radius: 3px;
}